<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Sign Language Detection</h1>
        <p>Click the button to start detecting sign language.</p>
        <a href="{{ url_for('detect') }}"><button id="start-btn">Let's Go</button></a>
    </div>
</body>
</html>
